@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthStateProvider
@inject ILoginService LoginService
@inject UserState UserState
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <div class="top-row px-4">
      
            <NavLink class="btn btn-link" href="/profile"> <p> @(UserState.CurrentUser != null ? UserState.CurrentUser.FullName : "Guest")</p></NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var username = authState.User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;

        if (!string.IsNullOrEmpty(username))
        {
            UserState.CurrentUser = await LoginService.GetUserByUsernameAsync(username);
        }
    }
}